*{
    margin: 0;
    padding: 0;
}
.todo{
    text-align: center;
    border:solid 1px rgb(0, 0, 0);
    margin-left: 850px;
    margin-right: 400px;
    font-family: cursive;
    margin-top: 50px;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    box-shadow: 15px 15px 15px 15px black;
}
.f1{
    height: 20px;
    width: 300px;
    margin-top: 50px;
    text-shadow: 10px 10px 10px rgb(99, 32, 206);
}
.f2{
    margin-top: 50px;
    height: 42px;
    width: 100px;
    background-color: rgb(152, 152, 179);
    color: white;
    cursor: pointer;
    font-size: 1.0em;
    background-color: rgb(31, 204, 204);
}
.l1{
    margin-left: -67px;
    position: absolute;
    margin-top: 50px;
}
.l2{
    position: absolute;
    margin-top: 50px;
    margin-left: -28px;
}
.l3{
    position: absolute;
    margin-top: 50px;
    margin-left: -45px;
}
.fondo{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
}
.logoo{
    width: 570px;
    height: 792px;
    border: solid 1px black;
    position: absolute;
    margin-top: -0.1px;
    margin-left: 278px;
    box-shadow: -17px 15px 15px 15px black;
}
.fondo3{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.2;
}