@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    height: 75px;
    width: 100vw;
	display: grid;
    grid-template:"empty-left sena empty container-logo empty-right"100%/
					1.5%        50px   1fr   50px          1.5%;
}
.sena{
	display: flex;
	justify-content: center;
	align-items: center;
  	grid-area:sena ;
  	width: 60px;
	height: 100%;
}
.container-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area:container-logo ;
}
.logoigs{
	width: 50px;
}
.nav{
	height: 70px;
	background-color: rgb(57, 169, 0);
	display: flex;
	align-items: center;
	justify-content: center;

}
.userOculto{
	display: none;
}
.closeUser{
	position: absolute;
	color: rgb(120, 120, 120);
	font-size: 2em;
	z-index: 80;
	top: 230px;
	right: 550px;
	cursor: pointer;
}
.carousel-inner img{
	width: 100vw;
	height: 81.2vh;
}
.inicio{
	position: absolute;
	right: 20px;
	height: 40px;
	width: 120px;
	background-color: aliceblue;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
.inicio:hover{
	cursor: pointer;
}

.container-login{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	padding-top: 30px;
	background-color: rgba(0, 0, 0, 0.321);
}

.wrapper {
    max-width: 500px;
    border-radius: 10px;
    padding: 30px 40px;
	position: absolute;
}
.h4{
	font-size: 1.2em;
}
.h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(57, 169, 0);
}
.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(121, 121, 121, 0.55) ;

}

.input-field:hover {
    color: rgb(57, 169, 0);
    border: 1px solid rgb(57, 169, 0);
	
}
input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
	margin:  0 0 0 90px;
}

a:hover {
    text-decoration: none;
    color: rgb(57, 169, 0);
}

.option {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.option label.text-muted {
    display: block;
    cursor: pointer;
}

.option input {
    display: none;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.option input:checked~.checkmark:after {
    display: block
}

.option .checkmark:after {
    content: "";
    width: 13px;
    height: 13px;
    display: block;
    background: rgb(57, 169, 0);
    position: absolute;
    top: 48%;
    left: 53%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.option input[type="radio"]:checked~.checkmark {
    background: #fff;
    transition: 300ms ease-in-out 0s;
    border: 1px solid rgb(57, 169, 0);
}

.option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-55%, -48%) scale(1)
}

.btn.btn-block {
    border-radius: 20px;
    background-color: rgb(57, 169, 0);
    color: #fff;
	justify-content: center;
	display: flex;
	align-items: center;
}

.btn.btn-block:hover {
    background-color: rgb(57, 169, 0);
	opacity: .6;
}

