* {
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
}

/*  MENUS BARRA*/
.menu_barra{
    display: grid;
    height: 70px;
    background-color: rgb(19, 160, 0);
    grid-template   : "logo hamburgesa empty-1 buscar empty-2 login"100%/
                    150px 50px 1fr 300px 1fr 250px;
                    justify-content: center;
                    align-items: center;
}



.logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.logo_int{
    display: flex;
    background-color: azure;
    width: 50px;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(255, 145, 0);
    text-decoration: none;
    list-style: none;
}

.hamburgesa{
    grid-area: hamburgesa;
    font-size: 1.8em;
    justify-content:center;
    align-items: center;
    text-align: center;
    display: flex;
}
.buscar{
    grid-area: buscar;
    width: 200px;
    height: 30px;
    position: relative;
    border-radius: 5%;
    zoom: 100%;
}
.iconBuscar{
    gap: 10px;
    position: absolute;
    left: 0;
    padding-left:8px;
    top: calc(50% - 8px);
    font-size: 1em;
}
input[type=search]{
    padding-left: 27px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius:5px;
    
}
input[type=search]:focus{
    outline: none;
}

.login{
    grid-area: login;
}/* 






/*MENU LATERAL*/


.menu_lat{  
    position: relative;
    width: 230px;
    height: 100vh;
}
.menu_lateral{
    width: 100%;
    display: block;
    background-color: rgb(255, 94, 0);
}
ul{
    height: 100vh;
}
li{
    padding: 15px;
    display:flex;
    height: 40px;
    width: 87.1%;
    text-decoration: none;
    background-color: rgb(255, 94, 0);
    align-items: center;
    justify-content:left;
    text-align: center;
    gap: 10px;
    border-bottom: 2px solid rgb(255, 255, 255) ;
}
a{
    display: block;
    list-style: none;
    text-decoration: none;
    color: white;
    text-align: justify;
}
li:hover{
    background-color: rgb(255, 124, 48);
}
i{
    color: white;
    font-size: 1.5em;
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

    
.hamburguer-icon{
    transform: scaleX(-1);
}
.hamburguer-icon-transition{
    transform: scaleX(-1);
} 