.custom-spinner .p-progress-spinner-circle {
  stroke: #fe8700 !important;
}

.dashboard-container {
  width: 100%;
  margin-top: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-wrapper {
  width: 100%;
  gap: 10px;
  font-size: 20px;
  font-weight:700;
  display: grid;
  justify-content: center;
  height: 230px;
  flex-direction: row;
  grid-template: "empty-1 small-container1 small-container2 small-container3 small-container4 small-container5 empty-2" 100%/
                  2.5% 19.2% 19.2% 19.2% 19.2% 19.2% 2.5%;
}

.small-container1 {
  grid-area: small-container1;
  background-color: #e24e4e;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.small-container2 {
  grid-area: small-container2;
  background-color: #1e9e84;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.small-container3 {
  grid-area: small-container3;
  background-color: #cee713;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.small-container4 {
  grid-area: small-container4;
  background-color: #ef3939;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.small-container5 {
  grid-area: small-container5;
  background-color: #b517a2;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-wrapper2{
  margin-top: 15px;
  width: 100%;
  height: 530px;
  gap: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template:"empty-1 conteEstadistica1 conteEstadistica2 empty-2"100%/
                  1% 49% 49% 1%;
}

.conteEstadistica1{
  position: relative;
  grid-area: conteEstadistica1;
  background-color: #f0f0f0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}
.conteEstadistica2{
  grid-area: conteEstadistica2;
  background-color: #f0f0f0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

