.custom-spinner .p-progress-spinner-circle {
  stroke: #28a745 !important;
}

body {
  margin: 0; /* Elimina el margen predeterminado del body */
  height: 100vh; /* Asigna la altura completa de la ventana al body */
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegura que el contenedor ocupe toda la altura */
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.container-wrapper {
  display: flex;
}

.small-container {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px; /* Espacio entre contenedores */
}

.grafi-container {
  margin-top: 10px; /* Espacio entre filas */
  margin-right: 10px; 
  width: 100%; /* Ancho al 100% del contenedor padre */
  height: 400px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
