* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar {
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background: rgb(0, 173, 0);
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 55px;
  height: auto;
  background-color: rgb(0, 173, 0);
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details .container-icon {
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 50px;
}

.logo1 {
  margin-left: 3px;
  border-radius: 50px;
  background-color: #fff;
  width: 50px;
  height: 50px;
}

.sidebar .logo-details .logo_name {
  padding-left: 20px;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: 100%;
  padding: 15px 0px 80px 0px;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: rgb(108, 206, 119);
  border-radius: 0 0px 0px 0;
}
.sidebar.close .nav-links li:hover {
  background: rgb(108, 206, 119);
  border-radius: 6px 6px 6px 6px;
}

.sidebar .nav-links li .content-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .content-nav {
  display: block;
  height: 50px;
  width: 100%;
}

.sidebar .nav-links li .container-icon {
  height: 50px;
  width: 55px;
  cursor: pointer;
  transition: all 0.3s ease;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sidebar .nav-links li .tamañoLateral  {
  height: 50px;
  min-width: 55px;
  color: #ffffff;
  align-items: center;
  line-height: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.iconosLaterales{
  width: 32px;
  height: 32px;
}

.sidebar .nav-links li.showMenu .iconoA{
  transform: rotate(-180deg);
}
.iconoA{
  pointer-events: none;
  color: #ffffffd1;
}
.sidebar.close .nav-links .iconoA {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 1px 0px 0px 50px;
  margin-top: 0px;
  background: rgb(0, 173, 0);
  display: none;
  z-index: 100;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #ffffff;
  font-size: 15px;
  padding: 13px 30px 10px 10px;
  white-space: nowrap;
  opacity: 0.8;
  transition: all 0.3s ease;
  border-radius: 0 6px 6px 0;
}

.sidebar.close .nav-links li .sub-menu a {
  color: #ffffff;
  font-size: 13px;
  white-space: nowrap;
  padding: 6px 18px 6px 16px;
  opacity: 0.8;
  transition: all 0.3s ease;
  border-radius: 0px 6px 6px 0px;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 10;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  padding: 0px 0px 0px 0px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0.3s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 0px 0px 0px 0px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.home-section {
  background: rgb(0, 173, 0);
  display: grid;
  height: 60px;
  transition: all 0.5s ease;
  grid-template: "empty-1 box-menu-hader sena empty-2 usuario empty-3" 100%/
    5px 50px 70px 1fr 190px 2%;
}

.box-menu-hader {
  grid-area: box-menu-hader;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sena {
  justify-content: center;
  grid-area: sena;
  display: flex;
  align-items: center;
}

.ti-menu-2 {
  color: #ffff;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.usuario {
  grid-area: usuario;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.usuario:hover {
  background-color: rgb(108, 206, 119);
  border-radius: 12px;
}

.user1 {
  color: #ffffff;
  width: 35px;
  height: 35px;
}

.home-section .usuario span {
  color: #ffffff;
  font-size: 1.2em;
}

.logoSena {
  color: white;
  width: 40px;
}

.modalUser {
  position: absolute;
  z-index: 800;
  left: calc(100% - 220px);
  background-color: #fff;
  width: 189.5px;
  height: 115px;
  display: flex;
  top: 65px;
  border-radius: 12px;
  border: 0.5px solid rgba(219, 219, 219, 0.648);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
}

.modalClose {
  display: none;
}

.closeUser {
  color: rgb(126, 121, 121);
  top: 69px;
  right: 35px;
  position: fixed;
  font-size: 25px;
  cursor: pointer;
}

.ax {
  margin-top: 26px;
}

.az:hover {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.letraUser {
  display: flex;
  width: 100%;
  height: 55px;
  color: #5b5b5b;
  font-size: 1.195em;
  align-items: center;
  padding: 4px 25.5px 4px 9.5px;
  text-decoration: none;
}

.userSpace {
  display: flex;
  flex-direction: column;
}

.iconModal {
  margin-right: 8px;
  width: 30px;
  font-size: 1.4em;
}
.letraUser:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
p {
  pointer-events: none;
}
.text {
  color: rgb(255, 255, 255);
}
.contenido {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;    /* DESCONEMNTAR PARA VER ACTIVAR EL PVERFLOW */
}
.contSeg{
  width: 98%;
  height: 100%;
  justify-content: center;
  position: relative;
}
.main-container{
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}
.sidebar{
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
}

.espacioBotton{
  width: 100%;
  height: 10px;
  background-color: rgb(255, 255, 255);
}