.dashboard-container {
  width: 100%;
  margin-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-wrapper {
  gap: 10px;
  width: 100%;
  height: 160px;
  font-weight: 700;
  display: grid;
  margin-bottom: 6px;
  justify-content: center;
  grid-template:
    "empty-1 small-container1 small-container2 small-container3 small-container4 empty-2 " 100%/
    2% 24% 24% 24% 24% 2%;
}
.small-container1 {
  grid-area: small-container1;
  grid-template:
    "contInterno contInterno2" 115px
    "linkContenido linkContenido" 45px
    / 75% 25%;
}
.small-container2 {
  grid-area: small-container2;
  grid-template:
    "contInterno contInterno2" 115px
    "linkContenido linkContenido" 45px
    / 75% 25%;
}
.small-container3 {
  grid-area: small-container3;
  grid-template:
    "contInterno contInterno2" 115px
    "linkContenido linkContenido" 45px
    / 75% 25%;
}
.small-container4 {
  grid-area: small-container4;
  grid-template:
    "contInterno contInterno2" 115px
    "linkContenido linkContenido" 45px
    / 75% 25%;
}
.small-container6 {
  grid-area: small-container6;
  grid-template:
    "contInterno contInterno2" 110px
    "linkContenido linkContenido" 40px
    / 75% 25%;
}
.small-container7 {
  grid-area: small-container7;
  grid-template:
    "contInterno contInterno2" 110px
    "linkContenido linkContenido" 40px
    / 75% 25%;
}

.small-container1,
.small-container2,
.small-container3,
.small-container4,
.small-container6,
.small-container7 {
  border-radius: 10px;
  display: grid;
  width: 100%;
  height: 100%;
}

.contInterno {
  border-radius: 10px 0px 0px 0px;
  grid-area: contInterno;
  justify-content: center;
  display: flex;
  font-size: 1em;
}
.contInterno4 {
  border-radius: 10px 0px 0px 0px;
  grid-area: contInterno;
  text-align: justify !important;
  justify-content: center;
  align-items:flex-start;
  display: flex;
  flex-direction: column !important;
  font-size: 14px;
  padding-left: 10px;
}

.contInterno2 {
  border-radius: 0px 10px 0px 0px;
  grid-area: contInterno2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contcolor {
  background-color: #ff8800;
}
.contcolor1 {
  background-color: #00b8fb;
}
.contcolor2 {
  background-color: #f73d3d;
}
.contcolor3 {
  background-color: #b641da;
}
.contcolor6 {
  background-color: #41daa7;
}
.contcolor7 {
  background-color: #ef3f80;
}

.ssssIcono {
  opacity: 0.7;
  width: 115px;
  height: 115px;
}
.ssssIconoss {
  opacity: 0.7;
  width: 105px;
  height: 105px;
}
.ssssIcono333 {
  opacity: 0.7;
  width: 100px;
  height: 100px;
}

.linkContenido {
  grid-area: linkContenido;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.64);
  text-decoration: none;
  font-size: 1.2em;
}
.linkColor {
  background-color: #cf6e00;
}
.linkColor:hover {
  background-color: #dc8017;
}
.linkColor2 {
  background-color: #0095cc;
}
.linkColor2:hover {
  background-color: #2487ab;
}
.linkColor3 {
  background-color: #ba2d2d;
}
.linkColor3:hover {
  background-color: #d14b4b;
}
.linkColor4 {
  background-color: #993cb5;
}
.linkColor4:hover {
  background-color: #c657e8;
}
.linkColor6 {
  background-color: #3aad87;
}
.linkColor6:hover {
  background-color: #59b395;
}
.linkColor7 {
  background-color: #cd2b67;
}
.linkColor7:hover {
  background-color: #d6457a;
}

.iconosDashboard {
  color: rgba(255, 255, 255, 0.704);
  width: 28px;
  height: 28px;
  margin-left: 5px;
}
.usuarioTitiii {
  color: #f0f0f0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.usuarioTitiii2 {
  color: #f0f0f0;
  align-items: center;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}
.container-wrapper2 {
  width: 100%;
  height: 500px;
  margin-bottom: 5px;
  gap: 15px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template:
    "empty-1 conteEstadistica1 conteEstadistica2 empty-2" 100%/
    1% 49% 49% 1%;
}
.conteEstadistica1 {
  grid-area: conteEstadistica1;
  background-color: #f0f0f0;
  display: flex;
  width: 100%;
  height: 470px;
  padding: 10px;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.conteEstadistica2 {
  grid-area: conteEstadistica2;
  background-color: #f0f0f0;
  display: flex;
  width: 100%;
  height: 470px;
  padding: 8px;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}
.estadisticaAuto{
  height: auto !important;
}
@media screen and (min-width: 690px) and (max-width: 1495px) {
  .contInterno4 {
    border-radius: 10px 0px 0px 0px;
    grid-area: contInterno;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }

}

@media screen and (min-width: 690px) and (max-width: 1300px) {
  .container-wrapper {
    gap: 10px;
    width: 98%;
    height: auto;
    font-weight: 700;
    display: grid;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5px;
    grid-template:
      "small-container1 small-container2" 150px
      "empty empty" 4px
      "small-container3 small-container4" 150px/
      50% 50%;
  }
  .container-wrapper2 {
    margin-top: 15px;
    width: 100%;
    height: 500px;
    gap: 15px;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    display: grid;
    grid-template:
      "empty-1 conteEstadistica1 conteEstadistica2 empty-2" 100%/
      1% 49% 49% 1%;
  }
  .contInterno {
    border-radius: 10px 0px 0px 0px;
    grid-area: contInterno;
    justify-content: center;
    display: flex;
    font-size: 1em;
  }
  .contInterno4 {
    border-radius: 10px 0px 0px 0px;
    grid-area: contInterno;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }

  .conteEstadistica1 {
    grid-area: conteEstadistica1;
    background-color: #f0f0f0;
    display: flex;
    width: 100%;
    height: 400px;
    padding: 10px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
  }
  
  .conteEstadistica2 {
    grid-area: conteEstadistica2;
    background-color: #f0f0f0;
    display: flex;
    width: 100%;
    height: 400px;
    padding: 10px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1530px) {
  .contInterno {
    border-radius: 10px 0px 0px 0px;
    grid-area: contInterno;
    justify-content: center;
    display: flex;
    font-size: 1em;
  }
}
@media screen and (min-width: 690px) and (max-width: 800px) {
  .contInterno {
    border-radius: 10px 0px 0px 0px;
    grid-area: contInterno;
    justify-content: center;
    display: flex;
    font-size: 0.9em;
  }
}
@media screen and (min-width: 150px) and (max-width: 689px) {
  .container-wrapper {
    gap: 10px;
    width: 98%;
    height: auto;
    font-weight: 700;
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template:
      "small-container1" 150px
      "empty-1" 3px
      "small-container2" 150px
      "empty-2" 3px
      "small-container3 " 150px
      "empty-3" 3px
      "small-container4" 150px/
      100%;
  }
  .container-wrapper2 {
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template:
      "conteEstadistica1" 400px
      "conteEstadistica2" 400px/
      100%;
  }
  .contInterno4 {
    border-radius: 10px 0px 0px 0px;
    grid-area: contInterno;
    text-align: justify !important;
    justify-content: center;
    align-items:flex-start;
    display: flex;
    flex-direction: column !important;
    font-size: 13px;
    padding-left: 10px;
  }

  .contInterno {
    border-radius: 10px 0px 0px 0px;
    grid-area: contInterno;
    justify-content: center;
    display: flex;
    font-size: 0.8em;
  }

  .linkContenido {
    grid-area: linkContenido;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.64);
    text-decoration: none;
    font-size: 0.8em;
  }
  
}
@media screen and (min-width: 150px) and (max-width: 870px) {
  .container-wrapper2 {
    margin-top: 10px;
    width: 100%;
    height: 620px;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template:
      "conteEstadistica1" 300px
      "conteEstadistica2" 300px/
      100%;
  }
  .conteEstadistica1 {
    grid-area: conteEstadistica1;
    background-color: #f0f0f0;
    display: flex;
    width: 100%;
    height: 300px;
    padding: 10px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
  }
  
  .conteEstadistica2 {
    grid-area: conteEstadistica2;
    background-color: #f0f0f0;
    display: flex;
    width: 100%;
    height: 300px;
    padding: 10px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
  }


  .containerWrapper3 {
    margin-top: 8px !important;
    gap: 3px !important;
    width: 98%;
    height: 170px;
    font-weight: 700;
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template: 
      "small-container6 " 170px
      " small-container7" 170px/
      100% !important;
  }
  .tamañoLateral2{
    font-size: 1.2em !important;
  }
  .usuarioTitiii2{
    font-size: 1.4em !important;
    color: #f0f0f0;
  align-items: center;
  display: flex;
  justify-content: center;
  
  }
  
}

.iconoUsuarioPng {
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
.containerWrapper3 {
  gap: 15px;
  width: 98%;
  height: 150px;
  font-weight: 700;
  display: grid;
  flex-direction: row;
  justify-content: center;
  grid-template:
    "small-container6 small-container7" 150px/
    50% 50%;
}
.usuarioTitiii2{
  font-size: 1.1em !important;
  color: #f0f0f0;
align-items: center;
display: flex;
justify-content: center;

}

