* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background: rgb(0, 173, 0);
  transition: all .4s ease;
}

.sidebar.close {
  width: 55px;
  height: auto;
  background-color: rgb(0, 173, 0);
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details .container-icon {
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 50px;
}

.logo1 {
  margin-left: 3px;
  border-radius: 50px;
  background-color: #fff;
  width: 50px;
  height: 50px;
}

.valAlert {
  display: flex;
  justify-content: right;
  margin-bottom: -6px;
  margin-right: -5px;
}

.sidebar .logo-details .logo_name {
  padding-left: 20px;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: 100%;
  padding: 15px 0px 80px 0px;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: rgb(108, 206, 119);
  border-radius: 0 0px 0px 0;
}
.sidebar.close .nav-links li:hover {
  background: rgb(108, 206, 119);
  border-radius: 6px 6px 6px 6px;
}

.sidebar .nav-links li .content-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .content-nav {
  display: block;
  height: 50px;
  width: 100%;
}

.sidebar .nav-links li .container-icon {
  height: 50px;
  width: 55px;
  cursor: pointer;
  transition: all 0.3s ease;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sidebar .nav-links li .tamañoLateral {
  height: 50px;
  min-width: 55px;
  color: #ffffff;
  align-items: center;
  line-height: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.iconosLaterales {
  width: 32px;
  height: 32px;
}

.sidebar .nav-links li.showMenu .iconoA {
  transform: rotate(-180deg);
}
.iconoA {
  pointer-events: none;
  color: #ffffffd1;
}
.sidebar.close .nav-links .iconoA {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 1px 0px 0px 50px;
  margin-top: 0px;
  background: rgb(0, 173, 0);
  display: none;
  z-index: 100;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #ffffff;
  font-size: 15px;
  padding: 13px 30px 10px 10px;
  white-space: nowrap;
  opacity: 0.8;
  transition: all 0.3s ease;
  border-radius: 0 6px 6px 0;
  caret-color: transparent;
}

.sidebar.close .nav-links li .sub-menu a {
  color: #ffffff;
  font-size: 13px;
  white-space: nowrap;
  padding: 6px 18px 6px 16px;
  opacity: 0.8;
  transition: all 0.3s ease;
  border-radius: 0px 6px 6px 0px;
  caret-color: transparent;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 10;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  padding: 0px 0px 0px 0px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0.3s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 0px 0px 0px 0px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.home-section {
  background: rgb(0, 173, 0);
  display: grid;
  height: 60px;
  transition: all 0.5s ease;
  grid-template:
    "empty-1 box-menu-hader sena empty-2 boxNotificaciones usuario empty-3" 100%/
    5px 50px 70px 1fr 50px auto 1%;
}

.box-menu-hader {
  grid-area: box-menu-hader;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sena {
  justify-content: center;
  grid-area: sena;
  display: flex;
  align-items: center;
}

.ti-menu-2 {
  color: #ffff;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.boxNotificaciones {
  grid-area: boxNotificaciones;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconAlert {
  width: 35px;
  height: 35px;
  color: #fff;
}

.usuario {
  grid-area: usuario;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-transform: capitalize;
  user-select: none;
}

.usuario:hover {
  background-color: rgb(108, 206, 119);
  border-radius: 12px;
}

.boxNotificaciones:hover {
  background-color: rgb(108, 206, 119);
  border-radius: 12px;
}
.boxcontadorNoti {
  width: 17px;
  height: 17px;
  user-select: none;
  background-color: rgb(255, 53, 53);
  position: fixed;
  border-radius: 60px;
  margin-top: -15px;
  margin-left: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #ffffff;
  font-weight: 600;
  caret-color: transparent;
}



@media screen and (min-width: 150px) and (max-width: 500px) {
  .tamañocargoUsuario {
    font-size: 0.7em;
  }
  .usuario {
    grid-area: usuario;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 6px;
    text-transform: capitalize;
  }
  .home-section {
    background: rgb(0, 173, 0);
    display: grid;
    height: 60px;
    transition: all 0.5s ease;
    grid-template:
      "empty-1         box-menu-hader  sena          empty-2   boxNotificaciones       usuario         empty-3" 100%/
      5px 50px 45px 1fr 50px auto 1%;
  }
  .cargoUser {
    display: flex;
    flex-direction: column;
    line-height: 22px;
    color: #fff;
    text-align: justify;
    margin-top: 8px;
  }
}

.user1 {
  color: #ffffff;
  width: 35px;
  height: 35px;
}
.cargoUser {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  color: #fff;
  text-align: justify;
  margin-top: 8px;
}

.nombreTamañousuario {
  font-size: 1.3em;
  caret-color: transparent;
}
.tamañocargoUsuario {
  font-size: 0.66em;
  caret-color: transparent;
}

.logoSena {
  color: white;
  width: 40px;
}
.modalNotificaciones {
  position: fixed;
  display: flex;
  z-index: 80;
  background-color: #ededed;
  right: 0;
  margin-right: 10px;
  width: auto;
  height: auto;
  top: 65px;
  border-radius: 12px;
  border: 0.5px solid rgba(188, 188, 188, 0.845);
  
}
.modalCloseNoti {
  display: none;
}

.notificacionesSpace {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  caret-color: transparent;
  
}
.tituloNotify {
  grid-area: tituloNotify;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(205, 20, 20);
}
.tamañoTextNoti {
  font-size: 1.2em;
}
.textTituloNoti{
  font-size: .9em;
}
.textContenidoNoti{
  font-size: .9em;
}
.table22{
  --bs-table-bg: #ededed !important;
}
.textModalNoti{
  padding-left: 5px;
  font-weight: 500;
  font-size: 0.9em;
}


/*CSS MODAL CERRAR SESION */
.modalUser {
  position: fixed;
  display: flex;
  z-index: 80;
  background-color: #ededed;
  right: 0;
  margin-right: 10px;
  width: auto;
  height: 120px;
  top: 65px;
  border-radius: 12px;
  border: 0.5px solid rgba(188, 188, 188, 0.845);
}
.modalClose {
  display: none;
}

.contentXsalirUser{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: right;
  padding-right: 5px;
  align-items: center;
}

.contentXsalir {
  width: 100%;
  height: 35px;
  display: grid;
  align-items: center;
  grid-template:
    "empty tituloNotify boxCloserIcon" 100%/
    1fr 1fr 1fr;
  padding-right: 5px;
  align-items: center;
}
.boxCloserIcon {
  grid-area: boxCloserIcon;
  display: flex;
  justify-content: right;
}

.closeUser {
  color: rgb(126, 121, 121);
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.closeUser:hover{
  border-radius: 3px;
  background-color: #d6d6d6;
}
.closeNotii {
  color: rgb(126, 121, 121);
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.closeNotii:hover{
  border-radius: 3px;
  background-color: #d6d6d6;
}

.letraCerrarSesion:hover {
  background-color: rgb(211, 211, 211);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.letraUser:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}

.letraUser,
.letraCerrarSesion {
  display: flex;
  width: 100%;
  height: 45px;
  padding-left: 10px;
  color: #5b5b5b;
  font-size: 1.1em;
  font-weight: 500;
  padding-right: 10px;
  align-items: center;
  text-decoration: none;
}

.userSpace {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.iconModal {
  margin-right: 8px;
  width: 30px;
  height: 30px;
}
.sssssss{
  color: rgb(0, 173, 0);
  font-weight: 600;
  font-size: 2em;
}
.dsdsd{
  text-decoration: none;
  color: #fff;
}
.contenido {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.376);
  display: flex;
  justify-content: center;
  overflow: auto; /* DESCONEMNTAR PARA VER ACTIVAR EL PVERFLOW */
}
.contSeg {
  width: 98%;
  height: 100%;
  justify-content: center;
  position: relative;
}
.main-container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}
.sidebar {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
}

.espacioBotton {
  width: 100%;
  height: 10px;
}
