*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.label-bold {
  font-weight: bold;
  font-size: 1.2rem;
}
.bg{
  background: rgb(57, 169, 0);
}
.btn-color:hover{
  background-color: rgb(59, 141, 0);
}
